@()
<!DOCTYPE html>
<html>
    <head>
        <title>Book Market</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/vendor/knockout-3.1.0.js")" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/sammy-latest.min.js")" type="text/javascript"></script>
        @helper.requireJs(core = routes.Assets.at("javascripts/vendor/require.js").url, module = routes.Assets.at("javascripts/app").url)
    </head>
    <body>
        <!-- ko if: $root.chosenSectionId() -->
            <!-- ko if: $root.chosenSectionId().id !== "lgn" -->
                <!-- ko if: $root.user() -->
                    Hello&nbsp;<span data-bind="text: $root.user().name"></span>
                <!-- /ko -->
                <button class="bm-logout" type="button" name="logout" data-bind="click: function() {$root.loginVM.logout($root)}">Logout</button>
                <br>
                <hr/>
            <!-- /ko -->
            @login()
            @books.list()
            @books.details()
        <!-- /ko -->
    </body>
</html>
